@model Vidly.Services.Dtos.MovieDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Name</h2>
<p>Genre: @Model.Genre</p>
<p>Date released: @Model.ReleasedDate.ToShortDateString()</p>
<p>Number in stock: @Model.NumberInStock</p>